.task {
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
  background: var(--gray-500);

  display: flex;
  align-items: flex-start;
  gap: .75rem;

  p{
    width: 100%;

    &.checked{
      color: var(--gray-300);
      text-decoration: line-through;
    }
  }
}

.checkbox,
.emptyCircle {
  cursor: pointer;
}

.inputGroup {
  input[type="checkbox"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
  }
}

.checkbox {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 100%;
  background: var(--purple-500);
}

.emptyCircle {
  min-width: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue-500);
  border-radius: 100%;
}

.deleteTask {
  background: transparent;
  border: none;
  color: var(--gray-300);
}